body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  /* background: linear-gradient(45deg, rgb(255, 42, 0), rgb(255, 136, 0)); */
  /* background: linear-gradient(45deg, rgb(21, 21, 21), rgb(103, 103, 103)); */
  background-color: rgb(36, 36, 36);
}

a {
  text-decoration: none;
}

#main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 25, 25);
  padding: 0 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 170, 0);
  text-transform: uppercase;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#main-header li {
  margin: 0 16px;
}

#main-header nav a {
  color: rgb(227, 144, 43);
  font-size: 20px;
}

#main-header nav a:hover {
  color: rgb(248, 197, 136);
}

main h1 {
  text-align: center;
  color: rgb(255, 170, 0);
  font-size: 48px;
}

#latest-products {
  width: 80%;
  margin: 50px auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.food-item {
  background-color: rgb(248, 210, 169);
  border-radius: 7px;
  overflow: hidden;
}

.food-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  padding: 16px;
  text-align: center;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 8px 24px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}
